.container {
  line-height: 1.18rem;
}

.section {
  font-weight: 400;
  font-size: 1rem;
  color: var(--grayd8);
  letter-spacing: 0;
}

.divider {
  border: 1px solid #d0d0d0;
  margin-top: 32px;
  margin-bottom: 40px;
}