.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 34px;
}

.headerName {
    padding-left: 16px;
    width: 100%;
}

.headerNameIn {
    color: var(--blue-head);
    font-size: 1.5rem;
    font-weight: 500;
}

.headerDesc {
    color: var(--graya4);
    font-size: 0.87rem;
    line-height: 1rem;
}

.divider {
    border: 1px solid #d0d0d0;
}